@use "global" as *;

@font-face {
  font-family: "Noto Sans JP VF";
  src: url("../../fonts/NotoSansJP-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --desigh-width: 375;
  --to-design-vw: calc(100vw / var(--desigh-width) );
  --base-font-family: "Noto Sans JP VF";
  
  --color-black: #333;
  --color-white: #fff;
  
  --header-height: #{rem(60)};
  @include mq() {
    --desigh-width: 1440;
    --header-height: #{rem(100)};
  }
}

/* リキッドレイアウト */
html {
  font-size: 16px;

  @if $startFrom == sp {
    @media (max-width: 375px) {
      font-size: vw(375, 16);
    }

    @include mq() {
      font-size: vw($inner-pc + $padding-pc * 2, 16);
    }

    @media (min-width: #{$inner-pc + $padding-pc * 2}px) {
      font-size: 16px;
    }
  } @else {
    @media (max-width: #{$inner-pc + $padding-pc * 2}px) {
      font-size: vw($inner-pc + $padding-pc * 2, 16);
    }

    @include mq() {
      font-size: 16px;
    }

    @media (max-width: 375px) {
      font-size: vw(375, 16);
    }
  }
}

/* スムーススクロール */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  @if $startFrom == sp {
    @include mq() {
      pointer-events: none;
    }
  } @else {
    pointer-events: none;
    @include mq() {
      pointer-events: initial;
    }
  }
}

a {
  transition: opacity 0.3s ease-in-out;
}

@media (any-hover: hover) {
  a:hover {
    opacity: 0.7;
  }
}

a:focus-visible {
  opacity: 0.7;
}


body {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--base-font-family);
  line-height: 1.5;
}

main {
  flex: 1;
}
