<% PAGE_DATA="about"; ROOT_PATH='../'; const EJS_PATH='../'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include(EJS_PATH + 'components/_head' ,{ rootPath: ROOT_PATH, page: json[PAGE_DATA] }) %>

<body>
  <%- include(EJS_PATH + 'components/_header' ) %>
  <main>
      <div class="l-inner">
        <br /><br /><br /><br /><br />
        <h1>./about/index.html</h1><br /><br />
      </div>
    </main>
  </main>
  <%- include(EJS_PATH + 'components/_footer' ) %>
</body>

</html>