<%
const EJS_PATH = "../";
include(EJS_PATH + 'components/_nav-items') ;
%>
<footer class="p-footer l-footer">
  <div class="p-footer__inner l-inner">
    <ul class="p-footer__nav-items">
      <% nav_items.forEach(function(item) { %>
      <li class="p-footer__nav-item">
        <a href="<%= item.href %>" <%- typeof blank !== 'undefined' ? ' target="_blank" rel="noopener noreferrer"' : '' %>>
          <%= item.text %>
        </a>
      </li>
      <% }); %>
    </ul>
    <p class="p-footer__copyrigh">
      <small>copyright</small>
    </p>
  </div>
</footer>