<% const EJS_PATH = "../"; %>
<section class="p-mv l-mv">
  <section class="p-mv__slider splide" aria-label="Splideの基本的なHTML" id="js-top-mv-splide">
    <div class="p-mv__slider-track splide__track">
      <ul class="p-mv__slider-list splide__list">
        <li class="p-mv__slider-item splide__slide">
          <%- include(EJS_PATH + 'components/_picture', { file: "dummy/dummy1", type: "jpg", alt: "alt", sp: false, loading: "eager", width: 690, height: 460 }) %>
        </li>
        <li class="p-mv__slider-item splide__slide">
          <%- include(EJS_PATH + 'components/_picture', { file: "dummy/dummy2", type: "jpg", alt: "alt", sp: false, loading: "eager", width: 690, height: 460 }) %>
        </li>
        <li class="p-mv__slider-item splide__slide">
          <%- include(EJS_PATH + 'components/_picture', { file: "dummy/dummy3", type: "jpg", alt: "alt", sp: false, loading: "eager", width: 690, height: 460 }) %>
        </li>
      </ul>
    </div>
  </section>
  <div class="p-mv__copy">
    <div class="p-mv__inner l-inner">
      <h2 class="p-mv__main-copy">
        メインのコピー
      </h2>
      <p class="p-mv__sub-copy">
        サブコピー
      </p>
    </div>
  </div>
</section>