<% 
const EJS_PATH = "../";
const images = [
  { file: 'dummy/dummy1', type: 'jpg', alt: '', width: 690, height: 460 },
  { file: 'dummy/dummy2', type: 'jpg', alt: '', width: 690, height: 460 },
  { file: 'dummy/dummy3', type: 'jpg', alt: '', width: 690, height: 460 },
];
%>
<section class="p-mv l-mv" id="js-mv">
  <section class="p-mv__slider splide" aria-label="Splideの基本的なHTML" id="js-top-mv-splide">
    <div class="p-mv__slider-track splide__track">
      <ul class="p-mv__slider-list splide__list">
        <% images.forEach(function(args) { %>
          <li class="p-mv__slider-item splide__slide">
            <%- include(EJS_PATH + 'components/_picture', args) %>
          </li>
          <% }); %>
        </ul>
    </div>
  </section>
  <div class="p-mv__copy">
    <div class="p-mv__inner l-inner">
      <h2 class="p-mv__main-copy">
        メインのコピー
      </h2>
      <p class="p-mv__sub-copy">
        サブコピー
      </p>
    </div>
  </div>
</section>