<% const EJS_PATH = "../"; %>
<div class="p-sub-mv l-sub-mv" id="js-mv">
  <figure class="p-sub-mv__image">
    <%- include(EJS_PATH + 'components/_picture', image) %>
  </figure>
  <div class="p-sub-mv__inner l-inner">
    <<%- title_tag %>><%- title %></<%- title_tag %>>
  </div>
</div>