@use "global" as *;

.p-drawer {
  background-color: beige; // test
  padding: rem(100) 0 rem(80);
}

// .p-drawer__inner {
// }

// .p-drawer__nav-items {
// }

// .p-drawer__nav-item {
// }

.p-drawer__nav-item a {
  display: flex;
  gap: rem(10);
  padding: rem(10);
}

/* hover指定できるPCを想定したスタイル */
@media (hover: hover) {
  .p-drawer__nav-item a:hover {
  }
}

/* hoverが使えないタッチ端末を想定した装飾 */
@media (hover: none) {
  .p-drawer__nav-item a:active {
  }
}