@use "global" as *;

.p-drawer {
  background-color: beige; // test
  padding: rem(100) 0 rem(80);
}

// .p-drawer__inner {
// }

.p-drawer__nav-items {
  background-color: pink; // test
}

// .p-drawer__nav-item {
// }

.p-drawer__nav-item a {
  display: flex;
  gap: rem(10);
  padding: rem(10);
}
