<% const EJS_PATH = "../"; %>
<div class="button-wrapper">
  <button class="button" type="button" data-modal-open="modal1">
    Sample 01
  </button>
  <button class="button" type="button" data-modal-open="modal2">
    Sample 02
  </button>
  <button class="button" type="button" data-modal-open="modal3">
    Sample 03
  </button>
</div>

<dialog id="modal1" class="modal" aria-labelledby="headline1" aria-describedby="desc1" autofocus>
  <div class="container">
    <h2 id="headline1" class="headline">Sample 01</h2>
    <p id="desc1" class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="description"><a href="#">Focus Test</a></p>
  </div>
  <button class="close" type="button" aria-labelledby="close1" data-modal-close>
    <span id="close1" style="display:none">モーダルを閉じる</span>
  </button>
</dialog>

<dialog id="modal2" class="modal" aria-labelledby="headline2" aria-describedby="desc2" autofocus>
  <div class="container">
    <h2 id="headline2" class="headline">Sample 02</h2>
    <p id="desc2" class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="description"><a href="#">Focus Test</a></p>
  </div>
  <button class="close" type="button" aria-labelledby="close2" data-modal-close>
    <span id="close2" style="display:none">モーダルを閉じる</span>
  </button>
</dialog>

<dialog id="modal3" class="modal" aria-labelledby="headline3" aria-describedby="desc3" autofocus>
  <div class="container">
    <h2 id="headline3" class="headline">Sample 03</h2>
    <p id="desc3" class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="description"><a href="#">Focus Test</a></p>
  </div>
  <button class="close" type="button" aria-labelledby="close3" data-modal-close>
    <span id="close3" style="display:none">モーダルを閉じる</span>
  </button>
</dialog>