<% const EJS_PATH = "../"; %>

<button class="modal-toggle" data-target="modal01" type="button">モーダル01を開く</button>
<article class="p-modal" id="modal01" data-modal>
  <div class="p-modal-content__body">
    <div class="p-modal-content__top">
      <button class="p-modal-content__close" type="button" data-modal-close></button>
    </div>
    <div class="p-modal-content__content">
      <h2>モーダル01の中身</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro placeat ab praesentium! Quidem ex placeat velit veritatis. Explicabo animi blanditiis minus ratione libero temporibus id error sapiente non voluptatem!</p>
    </div>
  </div>
</article>

<button class="modal-toggle" data-target="modal02" type="button">モーダル02を開く</button>
<article class="p-modal" id="modal02" data-modal>
  <div class="p-modal-content__body">
    <div class="p-modal-content__top">
      <button class="p-modal-content__close" type="button" data-modal-close></button>
    </div>
    <div class="p-modal-content__content">
      <h2>モーダル02の中身</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro placeat ab praesentium! Quidem ex placeat velit veritatis. Explicabo animi blanditiis minus ratione libero temporibus id error sapiente non voluptatem!</p>
    </div>
  </div>
</article>