@use "global" as *;

.p-drawer {
  background-color: #ccc;
  padding-block: rem(80);
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.p-drawer[aria-hidden="false"] {
  opacity: 1;
  pointer-events: all;
}

.p-drawer__inner {
}

// .p-drawer__inner {
// }

.p-drawer__nav-items {
  background-color: pink; // test
}

// .p-drawer__nav-item {
// }

.p-drawer__nav-item-link {
  display: flex;
  gap: rem(10);
  padding: rem(10);
}
